li {
  margin: 20px 0px;
  text-align: center
}

.align-left {
  float:left;
  margin-right:20px;
}

.slide-in {
  opacity:0;
  transition:all .5s;
}

.align-left.slide-in {
  transform:translateX(-300px);
  display: none
}

.slide-in.active {
  opacity:1;
  transform:translateX(0px);
  display: block;
}

.toggle {
  opacity: 0; 
  height: 0;
  overflow: hidden;
}
.active {
  opacity: 1;
  height: auto;
}

